// Colors
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$slightlyWhite1: hsla(0, 0%, 100%, 0.75);
$slightlyWhite2: hsla(0, 0%, 100%, 0.6);
$white: #fafafa;

// Font Sizes
$font-sm: 0.9375rem; // 15px
$font-md: 1.3125rem; //21px
$font-lg: 2.0625rem; // 33px
$font-xlg: 2.5625rem; // 41px

// Breakpoints
// 640px, 1024px, 1400px
// 576px, 768px, 992px, 1200px, 1400px
$breakpoints-up: (
  xs: 0,
  sm: "36rem",
  md: "48rem",
  lg: "62rem",
  xl: "75rem",
  xxl: "87.5rem",
);

// 359px, 575px, 767px, 991px, 1199px, 1399px
$breakpoints-down: (
  xs: "22.4375rem",
  sm: "35.9375rem",
  md: "47.9375rem",
  lg: "61.9375rem",
  xl: "74.9375rem",
  xxl: "87.4375rem"
);